
.button-2{
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.nono{
    background-color: rgb(78, 15, 129);
   border: none;
   color: white;
   padding: 12px 30px;
   cursor: pointer;
   font-size: 30px;
   font-weight: bolder;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}