img{
    width: 200px;
    height: 200px;
    border-radius: 50%;object-fit: cover;

}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:5rem;
}
.text{
    text-align: center;
    background-color: aliceblue;
    border: 1rem solid #ffbd00 ;

}